@import reset

body
  background: #252830
  color: white
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

header
  border-bottom: 1px solid #434857
  width: 100%

header
  nav
    display: flex
    flex-direction: row
    justify-content: space-between
  nav ul
   display: inline-flex
  nav ul li a
    border-left: 1px solid #434857
    display: block
    padding: 20px
  nav ul li a:hover
    background: #434857
  nav ul li a:first-child
    border-left: none
    border-right: 1px solid #434857
  nav ul:nth-child(2) > li:nth-child(1) > a:nth-child(1)
    border-left: 1px solid #434857
    border-right: 1px solid #434857
pre
  margin-left: 40px



.container
  width: 95%
  margin: 0 auto

/* Typography

a
  color: #28a8e0
  text-decoration: none

a:hover
  color: #1b8aba

h1
  font-size: 1.5em
  font-weight: lighter
  letter-spacing: 3px
  padding: 40px 0 0
  text-transform: uppercase


/* UI Elements

.btn-delete
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0
    border: medium none
    color: #d44950

.center
  text-align: center

/* Blur Text effect
.password,
.pin,
.email_blur
  transition: filter 0.3s ease
  filter: blur(6px)

.password:hover,
.pin:hover,
.email_blur:hover
  filter: blur(0px)



section
  color: #434857

#filter
    display: flex
    justify-content: space-between
    align-items: baseline
    padding: 0 0 40px

#filter input
    border: medium none
    color: #888
    font-size: 13px
    font-weight: 100
    width: 171px

table
    font-family: arial, sans-serif
    border-collapse: collapse
    width: 100%

td, th
    border: 1px solid #434857
    padding: 8px
    text-align: center

tr:nth-child(even)
    background: #1e2127
    transition: background-color 0.3s ease

tbody:nth-child(1) > tr:nth-child(1):hover
  background: none
  cursor: default

tr:hover
    background: rgba(255,255,255,0.1)
    cursor: crosshair

input
  border: solid 1px #ccc
  padding: 5px 10px
  &:focus
    outline: none
    border-color: #aaa

.sort
  padding: 8px 30px
  border-radius: 6px
  border: none
  display: inline-block
  color: #fff
  text-decoration: none
  background-color: #28a8e0
  height: 30px
  &:hover
    text-decoration: none
    background-color: #1b8aba
  &:focus
    outline: none
  &:after
    display: inline-block
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-bottom: 5px solid transparent
    content: ""
    position: relative
    top: -10px
    right: -5px
  &.asc:after
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid #fff
    content: ""
    position: relative
    top: 4px
    right: -5px
