   <div class="constrainBox">
        <h1>{{title}}</h1>
    <form id="formAddclients" name="addclients" method="post" action="/clients">
      <p>Name:<input type="text" id="inputName" placeholder="Kim" name="name"></p>
      <p>Company:<input type="text" id="inputCompany" placeholder="IBM" name="company"></p>
      <p>Position:<input type="text" id="inputPosition" placeholder="Product Manager" name="position"></p>
      <p>Number:<input type="data" id="inputContactNumber" placeholder="+1.212.304.3233" name="contact_number"></p>
      <p>Email:<input type="text" id="inputEmail" placeholder="hello@gmail.com" name="email"></p>
      <p>Project Summary:<input type="text" id="inputProjectSummary" placeholder="Project Summary" name="project_summary"></p>
      <p>Task List:<input type="text" id="inputTaskList" placeholder="Task List" name="task_list"></p>
      <p>Created At:<input type="date" id="inputCreatedAt" name="created_at"></p>
      <p><button type="submit" id="btnSubmit">submit</button></p>
    </form>
   </div>
