   <div class="constrainBox">
        <h1>{{title}}</h1>
    <form id="formAddpasswords" name="addpasswords" method="post" action="/passwords">
      <p>Company:<input type="text" id="inputCompany" placeholder="Google" name="company"></p>
      <p>Company URL:<input type="text" id="inputCompanyURL" placeholder="http://Gooogle.com/user" name="company_url"></p>
      <p>Username:<input type="text" id="inputUsername" placeholder="CaptionCrunch" name="username"></p>
      <p>Email:<input type="text" id="inputEmail" placeholder="hello@gmail.com" name="email"></p>
      <p>Password:<input type="text" id="inputPassword" placeholder="12345" name="password"></p>
      <p>Pin:<input type="data" id="inputPin" placeholder="1976" name="pin"></p>
      <p>Category:<input type="text" id="inputCategory" placeholder="email" name="category"></p>
      <p>Summary:<input type="text" id="inputSummary" placeholder="Summary" name="summary"></p>
      <p>Notes:<input type="text" id="inputTaskList" placeholder="Task List" name="task_list"></p>
      <p>Pay or Free:<input type="checkbox" id="inputPaySubscription" name="pay_subscription"></p>
      <p>Created At:<input type="date" id="inputCreatedAt" name="created_at"></p>
      <p>Updated At:<input type="date" id="inputUpdatedAt"  name="updated_at"></p>
      <p><button type="submit" id="btnSubmit">submit</button></p>
    </form>
   </div>
